#panel {
  background-color: var(--light__background-color);
  grid-area: panel;
  border-radius: 0 var(--border__radius) var(--border__radius) 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#panel__bottom-menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
  height: 100px;
}

.panel__button {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid var(--column__border-color);
  background-color: var(--light__background-color);
  cursor: pointer;
  font-size: 14px;
}

.panel__button:hover {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #555;
  background-color: var(--light__background-color);
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease-out;
}

#panel__other-button {
  margin-top: 25px;
}

@media (max-width: 768px) {
  #panel {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--column__border-color)
  }

  #panel__bottom-menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
    /* align-items: center; */
    /* margin-bottom: 27px;
    height: 100px; */
    padding: 0 20px 0 0px;
  }
  #panel__other-button {
    /* padding-left: 20px; */
    margin-left: 20px;
    margin-top: 0px;
  }
}